@{
    ViewBag.Title = "Ход работ";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script src="~/Views/Home/systemjs.config.js"></script>
<script>
    System.import('main')
        .catch(function (err) {
            console.error(err);
        });
</script>

<main>Загрузка...</main>